<style type="text/css">

  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    margin: 0px;
    background-image: url(photos/art.jpg);
  }

  a{
    color: black;
    text-decoration: none;
  }

  h2{
    font-family: sans-serif;
  }

  h1{
    font-family: sans-serif;
  }

  .header{
    width: 100%;
    height: 1000px;
    background-image: url(photos/morocco.jpg);
    background-size: cover;
  }


  .topnav {
    overflow: hidden;
    font-family: sans-serif;
    background-color: #333;
    position: fixed;
    width: 100%;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  .box1{
    width: 80%;
    height: 750px;
    background: white;
    margin: 20px auto;
  }

  .box2{
    width: 80%;
    height: 750px;
    background: white;
    margin: 20px auto;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .box3{
    width: 80%;
    height: 400px;
    background: white;
    margin: 20px auto;
  }

  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

  .column {
  float: left;
  height: 300px; /* Should be removed. Only for demonstration */
  padding-left: 10px;
  }

  .left {
    width: 25%;
  }

  .right {
    width: 70%;
    overflow: hidden;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .carousel .item {
    height: 750px;
  }

  .item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

  img {
    image-orientation: from-image;
  }

</style>
